{
  "extends": "@devoinc/eslint-config-devo/js-classic-base",
  "parserOptions": {
    "ecmaVersion": "2018",
    "sourceType": "module",
    "requireConfigFile": false,
    "ecmaFeatures": {
      "globalReturn": true,
      "modules": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "quotes": ["error", "single"],
    "no-extra-semi": "error",
    "no-console": "off",
    "strict": "off",
    "no-trailing-spaces": "error",
    "indent": ["error", 2, {"SwitchCase": 1}],
    "no-unused-vars": ["error", {"args": "none"}]
  }
}
